<%- include('partials/header'); -%>

<h1>Ajouter un article</h1>

<form action="/compose" method="post">
    <div>
    <label class="form-label">Title</label>
    <input class="form-control" type="text" name="titleText">
    <label>Post</label>
    <textarea class="form-control" rows="5" cols="60" name="bodyText" placeholder="Enter text"></textarea>
    <br>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </div>
    
    
</form>

<%- include('partials/footer'); -%>