html {
    min-height: 100%;
    position: relative;
  }

body {
    background-color: #EEF2E6 ;
    font-family: 'Montserrat', sans-serif;
    color: #1C6758;
}

hr {
    margin: 2em 0;
}
.dropdown-menu {
    background-color: #1C6758;
}

.dropdown-item:hover{
    
    background-color:#3D8361;
}

.images {
  --s: 145px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #D95B43; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
}

.images:hover{
    outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.images + .images {
    border-radius: 50%;
  }

.schemaProject {
    display:block;
    margin: auto;
}

.startPictProject {
    display: inline-block;
    margin: 15px 0px 15px 100px;
    height: 350px;
}

.arrow {
    display: inline-block;
    margin: auto 125px;
}
.chronologie {
    align-items: center;
}

.btnChrono {
    margin: auto;
}
.endPictProject {
    display: inline-block;
    margin: 15px 25px 15px 25px;
    height: 350px;
}

.top-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.middle-container {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.btn-container {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1em;
}

.support-text {
    margin-bottom: 0;
    margin-right: 2em;
}

.container-slide {
    width: 90%;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #D6CDA4;
}

.footer p {
	margin-top: 25px;
    color: #fff;
}

.carousel {
    width: 80%;
}

.pepCarousel {
    padding: 2%;
    display: flex;
    margin-left: 250px;
}



/*color:
hard:
prim: #1C6758
second: #3D8361
light:
prim: #D6CDA4
second: #EEF2E6 */